  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body{
	font-family: 'Comfortaa', cursive;
}

.navbar{
	background-color: white !important;
	margin-top:5px;
}

.form-control{
	border-radius: 100px;
}

.free_shipping{
	left: calc(50% - 100px);
}

.discount_up{
	left: calc(50% - 90px);
}

.banner{
	height: 80vh;
	object-fit:cover;
}